Repository truenas/webui, pull requests merged in 2020-01, with the labels that each got.

#3370 DOCS-121: Resync Guide and UI help text (Storage/Disks/Edit)
  src/app/helptext/storage/disks/disk-form.ts
Labels: Help Text

#3423 NAS-104621 / 11.3 / Replication legacy fix
  src/app/pages/task-calendar/replication/replication-form/replication-form.component.ts
Labels: backport-12.0, backported

#3434 NAS-104638 / 12.0 / Nas 104638
  src/app/pages/task-calendar/replication/replication-list/replication-list.component.ts
Labels: backport-11.3

#3395 NAS-104476 sync help text with docs for rsync "path" field.
  src/app/helptext/task-calendar/resync/resync-form.ts
Labels: Help Text, backport-12.0

#3441 NAS-104577 / 11.3 / Do not repopulate duplicate notifications
  src/app/services/notifications.service.ts
Labels: backport-12.0

#3456 NAS-104654 / 12.0 / NAS-104654
  src/app/pages/task-calendar/replication/replication-form/replication-form.component.ts
  src/app/pages/task-calendar/replication/replication-wizard/replication-wizard.component.ts
Labels: backport-11.3

#3475 DOCS-100: Unify "Enable password login" field behavior, description, …
  src/app/helptext/account/user-form.ts
  src/app/pages/account/users/user-form/user-form.component.ts
  src/app/pages/account/users/user-list/user-list.component.ts
Labels: Help Text, backport-11.3, backport-12.0, polishing

#3463 NAS-104676 / 12.0 / Add a process.exit to the script so it can error out on bad PO files
  scripts/convert_po2json.js
Labels: backport-11.3

#3474 DOCS-100: Unify "Enable password login" field behavior, description, …
  src/app/helptext/account/user-form.ts
  src/app/pages/account/users/user-form/user-form.component.ts
  src/app/pages/account/users/user-list/user-list.component.ts
Labels: Help Text, polishing

#3480 NAS-104685 / 11.3 / NAS-104685 Change upload config to a job
  src/app/pages/system/general/general.component.ts
Labels: backport-12.0

#3473 DOCS-102 update help text for "Use as Home Share".
  src/app/helptext/sharing/smb/smb.ts
Labels: Help Text

#3472 DOCS-102 update help text for "Use as Home Share".
  src/app/helptext/sharing/smb/smb.ts
Labels: Help Text

#3512 NAS-102288 / None / NAS-102288: move dry run dialog to help text file
  src/app/helptext/task-calendar/cloudsync/cloudsync-form.ts
  src/app/pages/task-calendar/cloudsync/cloudsync-list/cloudsync-list.component.ts
Labels: Help Text

#3529 NAS-104771 / 12.0 / NAS-104771
  src/app/pages/task-calendar/replication/replication-wizard/replication-wizard.component.ts
Labels: backport-11.3

#3530 NAS-104767 / 12.0 / NAS-104767
  src/app/pages/task-calendar/snapshot/snapshot-form/snapshot-form.component.ts
Labels: backport-11.3

#3559 NAS-104494 / 12.0 / NAS-104494
  src/app/pages/sharing/iscsi/associated-target/associated-target-list/associated-target-list.component.ts
Labels: backport-11.3

#3555 DOCS-128 Update smart power mode help text. (master port)
  src/app/helptext/services/components/service-smart.ts
Labels: Help Text

#3554 DOCS-124: Add translation markers to help text strings (master port)
  src/app/helptext/services/components/service-rsync.ts
Labels: Help Text

#3553 DOCS-120 Update helptext for MTU of network>interfaces (master port).
  src/app/helptext/network/interfaces/interfaces-form.ts
Labels: Help Text

#3552 DOCS-116: Update iSCSI/Portals/IP Address help text (master port)
  src/app/helptext/sharing/iscsi/iscsi.ts
Labels: Help Text

#3551 (master port) DOCS-112 Update chunk size help text to match the docs.
  src/app/helptext/task-calendar/cloudsync/cloudsync-form.ts
Labels: Help Text

#3542 NAS-104795 / 11.3 / NAS-104795 Fix typo that keeps error dialog from opening
  src/app/pages/system/general/general.component.ts
  src/app/pages/system/update/update.component.ts
Labels: backport-12.0

#3525 NAS-104726 / 12.0 / Nas 104726
  src/app/pages/common/entity/utils.ts
  src/app/pages/task-calendar/replication/replication-form/replication-form.component.ts
Labels: backport-11.3

#3445 NAS-104636 / 11.3 / NAS-104636-stable
  src/app/core/components/widgets/widgetsysinfo/widgetsysinfo.component.html
Labels: backport-12.0

#3387 DOCS-128 Update smart power mode help text.
  src/app/helptext/services/components/service-smart.ts
Labels: Help Text

#3371 DOCS-124: Update Services/Rsync help text
  src/app/helptext/services/components/service-rsync.ts
Labels: Help Text

#3358 DOCS-112 Update chunk size help text to match the docs.
  src/app/helptext/task-calendar/cloudsync/cloudsync-form.ts
Labels: Help Text

#3364 DOCS-116: Update iSCSI/Portals/IP Address help text
  src/app/helptext/sharing/iscsi/iscsi-wizard.ts
  src/app/helptext/sharing/iscsi/iscsi.ts
  src/app/pages/sharing/iscsi/portal/portal-form/portal-form.component.ts
Labels: Help Text

#3366 DOCS-120 Update helptext for MTU of network>interfaces.
  src/app/helptext/network/interfaces/interfaces-form.ts
Labels: Help Text

#3437 NAS-104636 / 12.0 / NAS-104636
  src/app/core/components/widgets/widgetsysinfo/widgetsysinfo.component.html
Labels: backport-11.3

#3539 NAS-104789 / 12.0 / Nas 104789
  src/app/helptext/sharing/iscsi/iscsi.ts
  src/app/pages/sharing/iscsi/extent/extent-form/extent-form.component.ts
  src/app/pages/sharing/iscsi/extent/extent-list/extent-list.component.ts
Labels: backport-11.3

#3398 NAS-104523
  src/app/pages/plugins/plugin-add/plugin-add.component.ts
Labels: backport-12.0

#3391 NAS-104539
  src/app/pages/jails/jail-list/jail-list.component.ts
Labels: backport-12.0

#3571 NAS-104473: fix MTU help text format bug (master port)
  src/app/helptext/network/interfaces/interfaces-form.ts
Labels: Help Text

#3394 NAS-104473 fix mtu helptext formatting issue.
  src/app/helptext/network/interfaces/interfaces-form.ts
Labels: Help Text

#3576 NAS-104838 / 12.0 / Fix logic for zvol resize validation
  src/app/pages/storage/volumes/zvol/zvol-form/zvol-form.component.ts
Labels: backport-11.3

#3578 NAS-103747 / 11.3 / Fix logic for grabbing console messages
  src/app/components/common/layouts/admin-layout/admin-layout.component.ts
Labels: backport-12.0

#3585 NAS-104855 / 11.3 / Remove excess \ before # that is added by translate service
  src/app/services/docs.service.ts
Labels: backport-12.0
