Repository truenas/webui, pull requests merged in 2020-04, with the labels that each got.

#3843 NAS-104793 / 12.0 / NAS-104793: SMB help text cleanups.
  src/app/helptext/services/components/service-smb.ts
  src/app/helptext/sharing/smb/smb.ts
Labels: Help Text

#3850 NAS-104715 / 12.0 / NAS-104715: Help text cleanup for Network / Global Configuration.
  src/app/helptext/network/configuration/configuration.ts
Labels: Help Text

#3861 DOCS-215: Fix helptext call for Restore Replication.
  src/app/pages/task-calendar/replication/replication-list/replication-list.component.ts
Labels: Help Text

#3892 NAS-105459 / None / NAS-105459: add help text to new fields and yarn test
  src/app/helptext/storage/volumes/datasets/dataset-form.ts
  src/app/helptext/storage/volumes/datasets/dataset-unlock.ts
  src/app/pages/storage/volumes/datasets/dataset-form/dataset-form.component.ts
  src/app/pages/storage/volumes/volumes-list/volumes-list.component.ts
Labels: Help Text

#3937 NAS-105678 / 11.3 / Nas 105678
  src/app/pages/common/entity/entity-form/components/form-scheduler/form-scheduler.component.ts
  src/app/pages/task-calendar/replication/replication-form/replication-form.component.ts
  src/app/pages/task-calendar/snapshot/snapshot-form/snapshot-form.component.ts
Labels: backport-12.0

#3934 NAS-105775 / 12.0 / NAS-105775 (12.0 BETA1): Add more KMIP field helptext.
  src/app/helptext/system/kmip.ts
Labels: Help Text

#3961 NAS-105894 / 12.0 / NAS-105894
  src/app/pages/common/entity/entity-form/components/form-select/form-select.component.ts
Labels: backport-11.3

#3959 NAS-105862 / 11.3 / Prevent double displaying pools after unlock with key
  src/app/pages/storage/volumes/volumes-list/volumes-list.component.ts
Labels: backport-12.0

#3967 NAS-105904 / 12.0 / NAS-105904: Rework Pool Manager "Encryption" help text
  src/app/helptext/storage/volumes/manager/manager.ts
Labels: Help Text

#3966 NAS-105904 / 11.3 / (11.3-U3) NAS-105904: Rewrite Pool Manager "Encryption" checkbox help text
  src/app/helptext/storage/volumes/manager/manager.ts
Labels: Help Text

#3974 Attempt to fix the build with different actions-yarn
  .github/workflows/main.yml
Labels: backport-11.3

#3978 NAS-105927 / 11.3 / NAS-105927: Replace all guide links with detailed text.
  src/app/helptext/directoryservice/activedirectory.ts
  src/app/helptext/directoryservice/ldap.ts
  src/app/helptext/network/interfaces/interfaces-form.ts
  src/app/helptext/network/laggs/lagg.ts
  src/app/helptext/services/components/service-dc.ts
  src/app/helptext/services/components/service-ftp.ts
  src/app/helptext/services/components/service-s3.ts
  src/app/helptext/services/components/service-smb.ts
  src/app/helptext/services/components/service-snmp.ts
  src/app/helptext/services/components/service-ssh.ts
  src/app/helptext/services/components/service-webdav.ts
  src/app/helptext/sharing/iscsi/iscsi-wizard.ts
  src/app/helptext/sharing/iscsi/iscsi.ts
  src/app/helptext/sharing/smb/smb.ts
  src/app/helptext/shell/shell.ts
  src/app/helptext/storage/disks/disk-form.ts
  src/app/helptext/storage/import-disk/import-disk.ts
  src/app/helptext/storage/snapshots/snapshots.ts
  src/app/helptext/storage/volumes/datasets/dataset-acl.ts
  src/app/helptext/storage/volumes/datasets/dataset-form.ts
  src/app/helptext/storage/volumes/manager/manager.ts
  src/app/helptext/storage/volumes/manager/vdev.ts
  src/app/helptext/storage/volumes/zvol-form.ts
  src/app/helptext/system/advanced.ts
  src/app/helptext/system/ca.ts
  src/app/helptext/system/certificates.ts
  src/app/helptext/system/general.ts
  src/app/helptext/task-calendar/replication/replication.ts
  src/app/helptext/task-calendar/resync/resync-form.ts
  src/app/helptext/vm/devices/device-add-edit.ts
  src/app/helptext/vm/vm-cards/vm-cards.ts
Labels: Help Text

#3979 NAS-105927 / 12.0 / NAS-105927: Replace all guide links with detailed text.
  src/app/helptext/directoryservice/activedirectory.ts
  src/app/helptext/directoryservice/ldap.ts
  src/app/helptext/network/interfaces/interfaces-form.ts
  src/app/helptext/network/laggs/lagg.ts
  src/app/helptext/services/components/service-dc.ts
  src/app/helptext/services/components/service-ftp.ts
  src/app/helptext/services/components/service-s3.ts
  src/app/helptext/services/components/service-smb.ts
  src/app/helptext/services/components/service-snmp.ts
  src/app/helptext/services/components/service-ssh.ts
  src/app/helptext/services/components/service-webdav.ts
  src/app/helptext/sharing/iscsi/iscsi.ts
  src/app/helptext/shell/shell.ts
  src/app/helptext/storage/import-disk/import-disk.ts
  src/app/helptext/storage/snapshots/snapshots.ts
  src/app/helptext/storage/volumes/datasets/dataset-acl.ts
  src/app/helptext/storage/volumes/datasets/dataset-form.ts
  src/app/helptext/storage/volumes/manager/vdev.ts
  src/app/helptext/storage/volumes/zvol-form.ts
  src/app/helptext/system/advanced.ts
  src/app/helptext/system/ca.ts
  src/app/helptext/system/certificates.ts
  src/app/helptext/system/general.ts
  src/app/helptext/task-calendar/replication/replication.ts
  src/app/helptext/task-calendar/resync/resync-form.ts
  src/app/helptext/vm/devices/device-add-edit.ts
  src/app/helptext/vm/vm-cards/vm-cards.ts
Labels: Help Text

#3984 NAS-105870 / 12.0 / NAS-105870: Rework restrict_schedule field name and help text
  src/app/helptext/task-calendar/replication/replication.ts
Labels: Help Text

#3983 NAS-105870 / 11.3 / NAS-105870: Rework restrict_schedule field name and help text. (11.3-U3)
  src/app/helptext/system/advanced.ts
  src/app/helptext/task-calendar/replication/replication.ts
Labels: Help Text

#3994 NAS-105952 / 12.0 / Only prevent builtin users usernames from getting changed
  src/app/pages/account/users/user-form/user-form.component.ts
Labels: backport-11.3
